html,
body {
  background-color:black;
}

header {
  height: 80px;
  width: 100%;
  background-color: black;
  padding: 0px;
  display:inline-flex;
  
}

#menu ul {
  padding: 0;
  display:flex;
  list-style-type: none; /* Stile della lista */
  }
#menu-1 {
  margin-left: 0;
}
#menu-2 {
  margin-right: 0;
}
#menu-center {
  margin: auto;
}

#menu li {
  display:inline-block; 
}

#menu img {
  display:inline-flex;
  margin:0 auto;
  height:70px;
  width:90px;
}

#menu-1 img {
  height:50px;
  width:60px;
}

#menu a.btn{
  font-size: 30px;
  color:white; /* Colore del testo */
  text-decoration:none; /* Nessuna decorazione */
  background:black; /* Colore dello sfondo */
  padding:0px 0px; /* Distanza tra le singole voci */ 
  font-weight: bold;
  font-style:italic;
  width: 170px;
}
#menu-2 a.btn {
  font-size:25px;
  float:left;
  width:auto;
}

#menu-2 li {
  margin: auto;
  display:block;
}


#menu a.btn:hover {
  background-color:rgb(112, 32, 32);/* Sfondo */
}

#menu-1 li:hover ul li {
  display:flex; 
  position: relative;
  float: left;
}

#menu-1 li ul{
  position: absolute;
  z-index: 1;
  display: none;
}


#menu-1 li:hover ul {
  display: block;
  width: auto;
  background-color:black;
}

/*Parte centrale FORM*/
#form {
  background: url(../img/lake-696098_1920.jpg);
  height: 100%;
  margin-bottom: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 5%;
}

.form-signin h1 {
  font-style: italic;
  font-weight: bold;
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
  background-color: red;
  border-color: red;
}
.form-signin button:hover {
  border-color:rgb(180, 48, 48);
  background-color:rgb(180, 48, 48);
}

.form-signin label , .form-signin a{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;  
    color: white;
    
}
.form-signin label {
  padding-top: 50px;
}